#app{
	height: 100vh;
	overflow:hidden;
}

.gamescreen{
	position:absolute;
	top:2.5%;
	right: 2.5%;
	height: 95%;
	width: 95%;
	border: black 5px double;
}

.gamescreen > div{
	height:100%;
	width:100%;
}

#version{
	position:absolute;
	bottom:0;
	right:10px;
	font-size:0.6em;
}

#play-box{
	position:relative;
	top:0;
	width:100%;
	height:80%;
	overflow:hidden;
	background: #DDD;
}

#commands-box{
	border-top: double 3px black;
	background:lightslategray;
	margin:auto;
	width: calc(95% - 10px);
	height:20%;
	font-size:0.6em;
}

#commands-box > div
{
	height:100%;
}

#play-box > div{
	margin:auto;
}

#commands-box div div.bg-dark{
	font-size:3vmin;
	font-weight:bold;
}

#commands-box div div:not(.bg-dark){
	border-radius:10px;
	background-image:linear-gradient(lightcyan,white);
	border: 3px inset #227;
	font-size:3vmin;
	cursor: pointer;
}

.pathTile{
	background-image: url('img/ground.png');
	background-size: 100%;
}

.firstPathTile{
	background-image: url('img/darkground.png');
}

.lastPathTile{
	background-image: url('img/frites.png');
	background-size: 100%;
	padding-top:2%;
}

.opponent{
	position:absolute;
}

.lifeBar{
	background:red;
	margin:auto;
	height:5px;
}

.firingBar{
	background:blue;
	height:5px;
}

.range{
	position:absolute;
	z-index : 100;
	border:2px solid darkgray;
	border-radius : 50%;
	pointer-events: none;
}

.defense .patator, .defense .sniper{
	width: 90%;
	top:40%;
	height: 20%;
	background-size: 100%;
}

.defense .broken_glass{
	width: 80%;
	top:10%;
	height: 80%;
		background:lightblue;
	border:2px dashed darkblue;
}

.defense .potato_field{
	width: 80%;
	top:10%;
	height: 80%;
	background-size: 100%;
	border:2px solid #651a1a;
}

#oil_rain{
	background:url('img/oil_rain.png');
	z-index:1001;
	position:absolute;
	background-size:100%;
	width:81vmin;
	height:calc(108vmin - 8px);
	pointer-events: none;
}

#map_selection{
	color:white;
	background:	#a12;
	display:inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin:auto;
	border:3px inset lightslategray; 
	border-radius:5px;
}

.map_option{
	color:black;
	background:white;
	border:1px solid black;
	border-radius:5px;
}

#map_container{
	background:darkgrey;
	overflow-y: auto;
	border-radius:5px;
	border:2px solid black; 
}

#fry-count{
	font-weight:bold;
	color:white;
	text-shadow:1px 1px black, 0px 1px black, -1px 1px black,
	1px -1px black, 0px -1px black, -1px -1px black,
	1px 0px black, -1px 0px black;    	 
}

.p-0.col-2:not(.pathTile):not(.patator):not(.bg-secondary):not(.broken_glass):not(.potato_field):not(.sniper){
	background-image: url('img/grass.png');
	background-size: 100%;
}

.potato_field > div{
	color:white;
	font-weight:bold;
}

/*small...*/
@media (min-width: 576px){

#commands-box{
	border-top :none;
	border-left:double 3px black;
	font-size:initial;
}

#oil_rain{
	background:url('img/oil_rain.png');
	z-index:1001;
	position:absolute;
	background-size:100%;
	width:60vmin;
	height:calc(80vmin - 8px);
	pointer-events: none;
}


}

/*medium...*/
@media (min-width: 768px){

}

/*iPhone5 et moins horizontalement*/
@media (max-height: 325px){
	
	#oil_rain{
		background:url('img/oil_rain.png');
		z-index:1001;
		position:absolute;
		background-size:100%;
		width:60vmin;
		height:calc(80vmin - 8px);
		pointer-events: none;
	}
}






